* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  z-index: 0;
}

/* .bg {
  background-image: url(media/patternC.jpg);
  background-repeat: repeat;
  background-position: 0%;
} */

main {
  width: 100%;
  height: 100%;
  text-align: center;
  perspective: 600px;
  display: flex;
  flex-direction: row;
  margin: 5em 0;
}

aside.left {
  width: 10em;
  height: 100%;
}

figure.center {
  width: auto;
  height: 100%;
  flex-grow: 1;
}

aside.right {
  width: 10em;
  height: 100%;
}

#cover {
  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-delay: 0.2s;
  transform-style: preserve-3d;
  transform-origin: left;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: auto;
  z-index: 5;
  top: 10%;
  /* grid-column: 1 / 9;
  grid-row: 1 / 9; */
}

#cover img {
  max-width: 100%;
  max-height: 100%;
}

.transformCover {
  transform: rotateY(-180deg);
  opacity: 0;
}

#colombina {
  z-index: 4;
  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-delay: 1s;
  transform-style: preserve-3d;
  transform-origin: left;
  /* grid-column: 2 / 8;
  grid-row: 2 / 8; */
}

#pierrot {
  z-index: 3;
  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-delay: 1s;
  transform-style: preserve-3d;
  transform-origin: left;
}

.left,
.right {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* display: block;
  padding-right: 5%; */
}

.left *,
.right * {
  width: 40%;
}

/* @keyframes pageturnR {
    from {
        rotateX(0deg);
    }
} */
